**/album-app/bin/** */
**/lbum-app/obj/** */
album-app/bin/Debug/net9.0/album-app
album-app/obj/Debug/net9.0/album-app.AssemblyInfo.cs
album-app/obj/Debug/net9.0/album-app.AssemblyInfoInputs.cache
album-app/obj/Debug/net9.0/album-app.csproj.AssemblyReference.cache
album-app/obj/Debug/net9.0/album-app.GeneratedMSBuildEditorConfig.editorconfig
album-app/obj/Debug/net9.0/apphost
album-app/obj/Debug/net9.0/rbcswa.dswa.cache.json
album-app/obj/Debug/net9.0/rjimswa.dswa.cache.json
album-app/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
album-app/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
album-app/obj/Debug/net9.0/rpswa.dswa.cache.json
album-app/obj/Debug/net9.0/staticwebassets.build.json.cache
album-app/obj/Debug/net9.0/compressed/a3ccvwoodi-jfsiqqwiad.gz
album-app/obj/Debug/net9.0/compressed/aixm7hn2l6-ilo7uva0vt.gz
album-app/obj/Debug/net9.0/compressed/bfgfnr1m0a-yv18u3yyo8.gz
album-app/obj/Debug/net9.0/compressed/jfcic4qxgo-ufdqpjvor3.gz
album-app/obj/Debug/net9.0/compressed/mh57r60qlo-qlccset4i1.gz
album-app/obj/Debug/net9.0/compressed/v2fg5wjanf-yv18u3yyo8.gz
album-app/obj/Debug/net9.0/compressed/vh4uovxbdq-xzw0cte36n.gz
album-app/obj/Debug/net9.0/compressed/wsikprrg7q-l3n5xuwxn8.gz
album-app/obj/Debug/net9.0/compressed/yosvpy2w6l-fr7q2aak1r.gz
album-app/obj/Debug/net9.0/album-app.AssemblyInfo.cs
album-app/obj/Debug/net9.0/album-app.AssemblyInfoInputs.cache
album-app/obj/Debug/net9.0/album-app.csproj.AssemblyReference.cache
album-app/obj/Debug/net9.0/album-app.GeneratedMSBuildEditorConfig.editorconfig
