album-app/obj/Debug/net9.0/album-app.AssemblyInfo.cs
album-app/obj/Debug/net9.0/album-app.AssemblyInfoInputs.cache
album-app/bin/Debug/net9.0/album-app
album-app/bin/Debug/net9.0/album-app.dll
album-app/bin/Debug/net9.0/album-app.pdb
album-app/bin/Debug/net9.0/album-app.staticwebassets.endpoints.json
album-app/bin/Debug/net9.0/album-app.staticwebassets.runtime.json
album-app/bin/Debug/net9.0/EmbedIO.dll
album-app/bin/Debug/net9.0/Newtonsoft.Json.dll
album-app/bin/Debug/net9.0/SpotifyAPI.Web.Auth.dll
album-app/bin/Debug/net9.0/SpotifyAPI.Web.dll
album-app/bin/Debug/net9.0/Swan.Lite.dll
album-app/obj/album-app.csproj.nuget.dgspec.json
album-app/obj/album-app.csproj.nuget.g.props
album-app/obj/project.assets.json
album-app/obj/project.nuget.cache
album-app/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
album-app/obj/Debug/net8.0/album-app.AssemblyInfo.cs
album-app/obj/Debug/net8.0/album-app.AssemblyInfoInputs.cache
album-app/obj/Debug/net8.0/album-app.assets.cache
album-app/obj/Debug/net8.0/album-app.csproj.AssemblyReference.cache
album-app/obj/Debug/net8.0/album-app.csproj.CoreCompileInputs.cache
album-app/obj/Debug/net8.0/album-app.csproj.FileListAbsolute.txt
album-app/obj/Debug/net8.0/album-app.GeneratedMSBuildEditorConfig.editorconfig
album-app/obj/Debug/net8.0/album-app.GlobalUsings.g.cs
album-app/obj/Debug/net8.0/album-app.MvcApplicationPartsAssemblyInfo.cache
album-app/obj/Debug/net8.0/album-app.RazorAssemblyInfo.cache
album-app/obj/Debug/net8.0/album-app.RazorAssemblyInfo.cs
album-app/obj/Debug/net8.0/album-app.sourcelink.json
album-app/obj/Debug/net8.0/rpswa.dswa.cache.json
album-app/obj/Debug/net9.0/album-app.AssemblyInfo.cs
album-app/obj/Debug/net9.0/album-app.AssemblyInfoInputs.cache
album-app/obj/Debug/net9.0/album-app.assets.cache
album-app/obj/Debug/net9.0/album-app.csproj.AssemblyReference.cache
album-app/obj/Debug/net9.0/album-app.csproj.CoreCompileInputs.cache
album-app/obj/Debug/net9.0/album-app.csproj.FileListAbsolute.txt
album-app/obj/Debug/net9.0/album-app.dll
album-app/obj/Debug/net9.0/album-app.GeneratedMSBuildEditorConfig.editorconfig
album-app/obj/Debug/net9.0/album-app.genruntimeconfig.cache
album-app/obj/Debug/net9.0/album-app.pdb
album-app/obj/Debug/net9.0/album-app.sourcelink.json
album-app/obj/Debug/net9.0/apphost
album-app/obj/Debug/net9.0/rbcswa.dswa.cache.json
album-app/obj/Debug/net9.0/rjimswa.dswa.cache.json
album-app/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
album-app/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
album-app/obj/Debug/net9.0/rpswa.dswa.cache.json
album-app/obj/Debug/net9.0/staticwebassets.build.endpoints.json
album-app/obj/Debug/net9.0/staticwebassets.build.json
album-app/obj/Debug/net9.0/staticwebassets.build.json.cache
album-app/obj/Debug/net9.0/staticwebassets.development.json
album-app/obj/Debug/net9.0/compressed/2j0xazm0az-ub07r2b239.gz
album-app/obj/Debug/net9.0/compressed/2zrroofw2s-0j3bgjxly4.gz
album-app/obj/Debug/net9.0/compressed/3ifclvcrkk-6pdc2jztkx.gz
album-app/obj/Debug/net9.0/compressed/3n8pmxqc4r-ee0r1s7dh0.gz
album-app/obj/Debug/net9.0/compressed/4h4z1xqfw2-dxx9fxp4il.gz
album-app/obj/Debug/net9.0/compressed/4maia9ivie-lzl9nlhx6b.gz
album-app/obj/Debug/net9.0/compressed/5db0ktvelw-muycvpuwrr.gz
album-app/obj/Debug/net9.0/compressed/5vqepgo75d-b7pk76d08c.gz
album-app/obj/Debug/net9.0/compressed/6fcmrklbva-v0zj4ognzu.gz
album-app/obj/Debug/net9.0/compressed/6w3np2w93a-87fc7y1x7t.gz
album-app/obj/Debug/net9.0/compressed/08ccsv3e0f-ttgo8qnofa.gz
album-app/obj/Debug/net9.0/compressed/9axnwphr7i-tdbxkamptv.gz
album-app/obj/Debug/net9.0/compressed/9c99edh072-jd9uben2k1.gz
album-app/obj/Debug/net9.0/compressed/9u6rn2tw7y-lcd1t2u6c8.gz
album-app/obj/Debug/net9.0/compressed/29twcwbbrs-4v8eqarkd7.gz
album-app/obj/Debug/net9.0/compressed/30w2t30kdw-fvhpjtyr6v.gz
album-app/obj/Debug/net9.0/compressed/87bzsm4f3q-c2jlpeoesf.gz
album-app/obj/Debug/net9.0/compressed/92ntjmy69a-o1o13a6vjx.gz
album-app/obj/Debug/net9.0/compressed/545s53z4ok-h1s4sie4z3.gz
album-app/obj/Debug/net9.0/compressed/a3ccvwoodi-jfsiqqwiad.gz
album-app/obj/Debug/net9.0/compressed/aixm7hn2l6-ilo7uva0vt.gz
album-app/obj/Debug/net9.0/compressed/aw9q5k306v-6cfz1n2cew.gz
album-app/obj/Debug/net9.0/compressed/bc4sa2gm5d-37tfw0ft22.gz
album-app/obj/Debug/net9.0/compressed/bdmh68pjb1-r4e9w2rdcm.gz
album-app/obj/Debug/net9.0/compressed/bfgfnr1m0a-4sh2smwzam.gz
album-app/obj/Debug/net9.0/compressed/ccypirazvm-d7shbmvgxk.gz
album-app/obj/Debug/net9.0/compressed/cvm52y07qe-46ein0sx1k.gz
album-app/obj/Debug/net9.0/compressed/eb5htd18k2-493y06b0oq.gz
album-app/obj/Debug/net9.0/compressed/en8l52h2if-rzd6atqjts.gz
album-app/obj/Debug/net9.0/compressed/ep2hlovi7v-y7v9cxd14o.gz
album-app/obj/Debug/net9.0/compressed/eqtmmtym1k-63fj8s7r0e.gz
album-app/obj/Debug/net9.0/compressed/gljnehtsyj-s35ty4nyc5.gz
album-app/obj/Debug/net9.0/compressed/i74fxfd5zg-hrwsygsryq.gz
album-app/obj/Debug/net9.0/compressed/is0ychtvh3-aexeepp0ev.gz
album-app/obj/Debug/net9.0/compressed/jcyknjpbd6-iovd86k7lj.gz
album-app/obj/Debug/net9.0/compressed/jfcic4qxgo-e1xpzhfmmn.gz
album-app/obj/Debug/net9.0/compressed/jh4oxb9pp0-j5mq2jizvt.gz
album-app/obj/Debug/net9.0/compressed/jz601x0iw0-cosvhxvwiu.gz
album-app/obj/Debug/net9.0/compressed/khpe42xj19-pj5nd1wqec.gz
album-app/obj/Debug/net9.0/compressed/kwyptcuavi-khv3u5hwcm.gz
album-app/obj/Debug/net9.0/compressed/lgskbttvnt-pk9g2wxc8p.gz
album-app/obj/Debug/net9.0/compressed/llrmmvmcm3-k8d9w2qqmf.gz
album-app/obj/Debug/net9.0/compressed/mahkelst3g-notf2xhcfb.gz
album-app/obj/Debug/net9.0/compressed/mh57r60qlo-qlccset4i1.gz
album-app/obj/Debug/net9.0/compressed/mxyb36nsrd-61n19gt1b8.gz
album-app/obj/Debug/net9.0/compressed/nb3jbgi5yh-ag7o75518u.gz
album-app/obj/Debug/net9.0/compressed/nmffjn6vsj-vr1egmr9el.gz
album-app/obj/Debug/net9.0/compressed/pofjumz8fl-47otxtyo56.gz
album-app/obj/Debug/net9.0/compressed/s2s4anvvgx-ft3s53vfgj.gz
album-app/obj/Debug/net9.0/compressed/sath1yppk0-0i3buxo5is.gz
album-app/obj/Debug/net9.0/compressed/sdxn145k6g-c2oey78nd0.gz
album-app/obj/Debug/net9.0/compressed/tq68u4dm9g-2z0ns9nrw6.gz
album-app/obj/Debug/net9.0/compressed/uixl1c99qa-06098lyss8.gz
album-app/obj/Debug/net9.0/compressed/v2fg5wjanf-4sh2smwzam.gz
album-app/obj/Debug/net9.0/compressed/v44op49fkj-fsbi9cje9m.gz
album-app/obj/Debug/net9.0/compressed/v20286dc0x-kbrnm935zg.gz
album-app/obj/Debug/net9.0/compressed/vh4uovxbdq-xzw0cte36n.gz
album-app/obj/Debug/net9.0/compressed/wsikprrg7q-l3n5xuwxn8.gz
album-app/obj/Debug/net9.0/compressed/y49qi44gue-nvvlpmu67g.gz
album-app/obj/Debug/net9.0/compressed/yosvpy2w6l-fr7q2aak1r.gz
album-app/obj/Debug/net9.0/compressed/ypn3n0n039-erw9l3u2r3.gz
album-app/obj/Debug/net9.0/compressed/zavdblh9rz-jj8uyg4cgr.gz
album-app/obj/Debug/net9.0/compressed/zkm7xh86le-bqjiyaj88i.gz
album-app/obj/Debug/net9.0/compressed/zv8dk51k8u-ausgxo2sd3.gz
album-app/obj/Debug/net9.0/ref/album-app.dll
album-app/obj/Debug/net9.0/refint/album-app.dll
album-app/obj/Debug/net9.0/album-app.AssemblyInfo.cs
album-app/obj/Debug/net9.0/album-app.AssemblyInfoInputs.cache
album-app/obj/Debug/net9.0/album-app.csproj.AssemblyReference.cache
album-app/obj/Debug/net9.0/album-app.GeneratedMSBuildEditorConfig.editorconfig
album-app/obj/Debug/net9.0/compressed/jfcic4qxgo-ufdqpjvor3.gz
